/* || General setup */

html, body {
    margin: 0;
    padding: 0;
  }
  
  html {
    font-size: 10px;
    background-image: url('../img/background2.jpg');
    background-position: center center;
    /* определяет размер изображения на странице */
    background-size: cover;
    background-repeat: no-repeat;
    /* cвойство определяет, будет ли фоновое изображение прокручиваться 
  вместе с остальной частью страницы или будет фиксированным */
    background-attachment: fixed;
  }
  
  body {
    width: 70%;
    margin: 0 auto;
  }
  
  /* || typography */
  
  p, li, h1, h2, h3, input, table {
    font-family: 'Nunito', sans-serif;
    line-height: 1;
    color: rgb(88, 87, 87);
  }
  
  h1 {
    font-size: 3rem;
    text-align: center;
    /*color: rgb(88, 87, 87);*/
    /*text-shadow: 2px 2px 10px #000000;*/
  }
  
  h2 {
    font-size: 2rem;
    text-align: left;
    margin-left: 30px;
    margin-right: 30px;
  }
  
  h3 {
    font-size: 1.8rem;
    text-align: left;
    margin-left: 30px;
    margin-right: 30px;
  }
  
  p {
    font-size: 1.6rem;
    line-height: 1;
    margin-left: 30px;
    margin-right: 30px;
  }
  
  /* || header layout */
  
  nav, article, aside, footer {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    /*padding: 1%;*/
  }
  
  nav {
    /*height: 50px;*/
    background: rgba(88, 87, 87, 0.8);
    display: flex;
    margin-bottom: 10px;
  }
  
  nav ul {
    padding: 5px;
    list-style-type: none;
    flex: 1; /*изменить на 2, если поиск будет в nav*/
    display: flex;
  }

  nav li {
    display: inline;
    text-align: center;
    flex: 1;
  }
  
  nav a {
    display: inline-block;
    font-size: 2rem;
    /*text-transform: uppercase;*/
    text-decoration: none;
    color: rgb(255, 255, 255);
  }

  /*стиль поиска, пока не нужен
  nav form {
    flex: 1;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 2em;
  }
  
  input {
    font-size: 1.6rem;
    height: 32px;
  }
  
  input[type="search"] {
    flex: 3;
  }
  
  input[type="submit"] {
    flex: 1;
    margin-left: 1rem;
    background: #333;
    border: 0;
    color: white;
  }
  */
  /* || main layout */
  
  main {
    display: flex;
  }
  
  article {
    flex: 4;
  }

  table, th, td  {
    font-size: 1.5rem;
    border: 1px solid grey;
    border-collapse: collapse;
  }
  
  table {
    width: calc(100% - 60px);
    margin: 30px;
  }

  th {
    padding: 5px;
    background-color: rgba(250, 217, 0, 0.8);
  }

  td {
    padding: 5px;
    text-align: center;
  }

  .left {
    float: left;
    margin: 0 1em 1em 0;
  }
  aside {
    flex: 1;
    padding: 1%;
    margin-left: 10px;
    background-color: rgba(250, 217, 0, 0.8);
  }
  
  aside ul {
    padding-inline-start: 20px;
  }
  aside li {
    padding-bottom: 5px;
  }
  aside a {
    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(88, 87, 87);
  }
  
  footer {
    display: flex;
    padding: 1%;
    margin-top: 10px;
  }

  footer div {
    display: inline-block;
    flex: 1;
  }

  footer p {
    font-size: 1.5rem;
  }