html, body {
  margin: 0;
  padding: 0;
}
  
html {
  font-size: 10px;
  background-image: url('../img/background2.jpg');
  background-position: center center;
  /* определяет размер изображения на странице */
  background-size: cover;
  background-repeat: no-repeat;
  /* cвойство определяет, будет ли фоновое изображение прокручиваться 
  вместе с остальной частью страницы или будет фиксированным */
  background-attachment: fixed;
}
  
body {
  width: 70%;
  margin: 0 auto;
}
  
/*-------------------------------*/
a, p, li, h1, h2, h3, table, form {
  font-family: 'Nunito', sans-serif;
  line-height: 1.2;
  color: rgb(88, 87, 87);
}
h1 {
  font-size: 3rem;
  text-align: center;
} 
h2 {
  font-size: 2rem;
  text-align: left;
  margin-left: 30px;
  margin-right: 30px;
} 
h3 {
  font-size: 1.8rem;
  text-align: left;
  margin-left: 30px;
  margin-right: 30px;
} 
p {
  font-size: 1.6rem;
  margin-left: 30px;
  margin-right: 30px;
}  
a {
  font-size: 1.6rem;
  text-decoration: none;
}
form {
  font-size: 1.6rem;
  margin: 30px;
}

 /*-------------------------------*/
nav, article, aside, footer {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
}
nav {
  background: rgba(88, 87, 87, 0.8);
  display: flex;
  margin-bottom: 10px;
}  
nav ul {
  padding: 5px;
  list-style-type: none;
  flex: 1;
  display: flex;
}
nav li {
  display: inline;
  text-align: center;
  flex: 1;
}  
nav a {
  display: inline-block;
  font-size: 1.8rem;
  color: rgb(255, 255, 255);
}
nav a:after {
  position: relative;
  background-color: rgba(250, 217, 0, 1);
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: 0;
  transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
nav a:hover:after {
  width: 100%;
}

/*-------------------------------*/
main {
  display: flex;
}
  
article {
  flex: 4;
  padding: 1%;
}
.img_article_left {
  float: left;
  margin: 0 30px 30px 0;
  width: 30%;
  height: 30%;
}
article a {
  text-decoration: underline;
}
article a:hover {
  background: rgba(250, 217, 0, 0.8);
}

table, th, td  {
  font-size: 1.5rem;
  border: 1px solid grey;
  border-collapse: collapse;
}
table {
  width: calc(100% - 60px);
  margin: 30px;
}
th {
  padding: 5px;
}
td {
  padding: 5px;
  text-align: center;
}
thead {
  background-color: rgba(250, 217, 0, 0.8);
}

/*-------------------------------*/
aside {
  flex: 1;
  padding: 1%;
  margin-left: 10px;
  background-color: rgba(250, 217, 0, 0.8);
}
aside ul {
  padding-inline-start: 20px;
}
aside li {
  padding-bottom: 5px;
}
aside a {
 font-size: 1.5rem;
}
aside a:hover {
 text-decoration: underline;
}
  
/*-------------------------------*/
footer {
  display: flex;
  padding: 1%;
  margin-top: 10px;
}
footer div {
  display: inline-block;
  flex: 1;
}
footer p {
  font-size: 1.5rem;
}
.img_left {
  float: left;
  margin: 0 1em 1em 0;
  width: 3em;
  height: 3em;
}
footer a {
  text-decoration: underline;
  font-size: 1.5rem;
}
footer a:hover {
  background: rgba(250, 217, 0, 0.8);
}

/*---------------------------*/
.box {
  margin: 0 auto;
  /*display: flex;*/
  background: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
}

.text-field {
  margin-bottom: 2rem;
}

.text-field__label {
  display: block;
  /*margin-bottom: 0.25rem;*/
}

.text-field__input {
  display: block;
  width: 100%;
  /*height: calc(2.25rem + 2px);*/
  /*padding: 0.375rem 0.75rem;*/
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.text-field__input::placeholder {
  color: #212529;
  opacity: 0.4;
}

.text-field__input:focus {
  color: #212529;
  background-color: #fff;
  border-color: #bdbdbd;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.text-field__input:disabled,
.text-field__input[readonly] {
  background-color: #f5f5f5;
  opacity: 1;
}

.button {
  background:rgba(250, 217, 0, 0.8);
  /*background:rgba(255, 255, 255, 0.8);*/
  width: 50%;
  margin: 0 auto;
  display: block;
}
.button:hover {
  box-shadow: 0 0 0 0.3rem rgba(158, 158, 158, 0.25);
}

.info a {
  text-decoration: underline;
}
.info a:hover {
  background: rgba(250, 217, 0, 0.8);
}