*, *::before, *::after{
    margin: 0;
    padding: 0;
    border: 0;
    /* З цією властивістю змінюється алгоритм розрахунку розмірів блоку.
    border-box - розрахунок з урахованням меж та полів.
    Тепер width і height задають не розміри контенту, а БЛОКУ.
    Потрібне для адаптиву! */
    box-sizing: border-box;
  } 

/* -- Переменные
$minWidth: 320px;
$maxWidth: 1152px;

$maxWidthContainer: 856;
$md1: $maxWidthContainer + 12;
$md2: 992;
$md3: 768;
$md4: 480;
*/
body {
  font-family: "Heebo", sans-serif;
  color: #21243d;
  font-size: 14px;
}
body._lock {
  overflow: hidden;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
/*ГОТОВЫЕ классы=============================================================*/
.row::after {
  display: block;
  content: "";
  clear: both;
}
.grn::after {
  content: "₴";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}
ol.counter li{
  position: relative;
  padding: 0 0 0 45px;
}
ol.counter li::before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4272bb;
}
.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.es {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.table {
  display: table;
  font-size: 0;
  width: 100%;
}
.trow {
  display: table-row;
}
.cell {
  display: table-cell;
}
.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
body.ie._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
body.ie._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

/*=============================================================*/
/*=============================================================*/
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
/*.wrapper._loaded {}
*/

/*<Основная сетка>=============================================================*/
._container {
  max-width: 856px;
  margin: 0 auto;
}
  /*
  @media (max-width: ) { /*1
    ._container {
      max-width: 970px;
    }
  }
  */
  @media (max-width: 992px) { /*2*/
    ._container {
      max-width: 750px;
    }
  }
  @media (max-width: 768px) { /*3*/
    ._container {
      max-width: none;
      padding: 0 10px;
    }
  }

/*=============================================================*/
.header {
  position: relative;
  z-index: 100;
}
/*=============================================================*/
.header__content {
  max-width: 1052px;
  padding: 0px 10px;
  margin: 0 auto;
}
/*=============================================================*/
.header__menu {
  padding: 10px 0; 
  height: 82px;
  align-items: center;
  display: flex;
  justify-content: flex-end; 
}
  @media (max-width: 768px) { /*3*/
    .header__menu {
      height: 50px;
    }
  } 
/*=============================================================*/
.menu_icon{

}
/*=============================================================*/
.menu__body {

}
  @media (max-width: 768px) {  /*3*/
    .menu__body {
      transform: translate(0px, -100%);
      transition: transform 0.8s ease 0s;
      /*transition: all 0.8s ease 0s;*/
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      overflow: auto;
      padding: 70px 10px 30px 10px;
      background-color: rgba(255, 255, 255, 0.9);
    }
    .menu__body.active {
      transform: translate(0px, 0%);
    }
  }
/*=============================================================*/
.menu__list {

}
  .menu__list li {
    margin: 0 0 30px 0;
  }
 /* .menu__list li:last-child {
    margin-right: 0;
  }*/
    @media (min-width: 768px) { /*3*/
      .menu__list {
        display: flex;
      }
      .menu__list li {
        margin: 0 0 0 33px;
      }
    }
/*=============================================================*/
.menu__link {
  font-size: 20px;
  font-weight: 500;
  color: #000;
  transition: all 0.3s ease 0s;
}
  @media (min-width: 992px) { /*2*/
    .menu__link:hover {
      color: #ff6464;
    }
  }

  @media (max-width: 768px) { /*3*/
    .menu__link {
      font-size: 40px;
      display: block;
      text-align: center;
    }
  }
 
/*=============================================================*/
/*----Бургер-меню---------------------------*/
.icon-menu {
  display: none;
}
  @media (max-width: 768px) {
    .icon-menu {
      display: block;
      position: relative;
      /* position: absolute;
      top: 18px;
      right: 10px; */
      width: 30px;
      height: 18px;
      cursor: pointer;
      z-index: 5;
    }
    .icon-menu span {
      transition: all 0.3s ease 0s;
      top: calc(50% - 1px);
      left: 0px;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #000;
    }
    .icon-menu span:first-child { /* &:first-child*/
      top: 0px;
    }
    .icon-menu span:last-child { /* &:last-child*/
      top: auto;
      bottom: 0px;
    }
    
    .icon-menu.active{
      position: fixed;
    }
    .icon-menu.active span {
      transform: scale(0);
    }
    .icon-menu.active span:first-child {
      transform: rotate(-45deg);
      top: calc(50% - 1px);
    }
    .icon-menu.active span:last-child {
      transform: rotate(45deg);
      bottom: calc(50% - 1px);
    }
  }

/*<Основной блок>=============================================================*/
/*.page {
  padding: 90px 0 0 0;
  flex: 1 1 auto;
}
  @media (max-width: 768px) {
    .page {
      padding: 30px 0 0 0;
    }
  }*/

/*=============================================================*/
.hello {
  padding: 38px 0 70px 0;
}
  @media (max-width: 992px) {  /*тут было 868*/
    .hello {
      padding: 0 0 70px 0;
    }
  }
  @media (max-width: 768px) {
    .hello {
      padding: 0 0 60px 0;
    }
  }

/*=============================================================*/
.hello__container {
  display: flex;
}
  @media (max-width: 768px) { /*3*/
      .hello__container {
        text-align: center;
        flex-direction: column-reverse;
        align-items: center; /* исправил аватарку по центру*/
    }
  }

/*=============================================================*/
.hello__content {
  align-items: flex-start;
  padding: 18px 110px 0 0;
  flex: 1 1 auto;
}
  .hello__content *:last-child {   /*либо .hello__content:last-child ? ??*/
    margin-bottom: 0;
  }
  @media (max-width: 992px) { /*тут было 868*/
    .hello__content {
      padding: 18px 50px 0 0;
    }
  }
  @media (max-width: 768px) { /*3*/
    .hello__content {
      padding: 0;
    }
  }
/*=============================================================*/
.hello__title {
  margin: 0 0 25px 0;
}
  @media (max-width: 768px) { /*3*/
    .hello__title {
      margin: 0 0 20px 0;
    }
  }
/*=============================================================*/
.hello__text {
  margin: 0 0 35px 0;
}
  @media (max-width: 768px) { /*3*/
    .hello__text {
      padding: 0 15px;
      margin: 0 0 25px 0;
    }
  }
/*=============================================================*/
.hello__btn {
  margin: 0 0 25px 0;
}
  @media (max-width: 768px) { /*3*/
    .hello__btn {
      margin: 0 0 20px 0;
    }
  }

/*=============================================================*/
.hello__avatar {
  flex: 0 0 243;
  height: 243px;
  position: relative;
  border-radius: 50%;
  /*overflow: hidden;*/
  box-shadow: -5px 13px 0 0 #edf7fa;
}
  .hello__avatar img {
    max-width: 100%;
  }
  @media (max-width: 768px) { /*3*/
    .hello__avatar {
      width: 170px;
      height: 170px;
      margin: 0 0 40px 0;
    }
  }
/*<Основной блок>=============================================================*/
.title {
  font-size: 44px;
  font-weight: 700;
  color: #21243d;
  line-height: calc(60 / 44 * 100%);
}
  @media (max-width: 768px) { /*3*/
    .title {
    font-size: 32px;
    }
  }
/*=============================================================*/
.text {
  font-size: 16px;
  line-height: calc(23 / 16 * 100%);
  color: #21243d;
}

.title-posts {
  font-size: 22px;
}
  @media (max-width: 768px) { /*3*/
    .title-posts {
      text-align: center;
      font-size: 18px;
    }
  }

/*=============================================================*/
.btn {
  background-color: #ff6464;
  border-radius: 2px;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  line-height: calc(29 / 20 * 100%);
  height: 47px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
  transition: background-color 0.3s ease 0s;
}

@media (min-width: 992px) {
  .btn:hover {
    background-color: #bb4949;
  }
}
/*=============================================================*/
/*=============================================================*/
.recent-posts {
  background: #edf7fa;
  padding: 25px 0 13px 0;
}
  @media (max-width: 768px) { /*3*/
    .recent-posts {
      padding: 25px 0 23px 0;
    }
  }
.recent-posts__container{}
.recent-posts__header{
  display: flex;
  margin: 0 0 20px 0;
}
.recent-posts__title{
  padding: 0 20px 0 0;
  flex: 1 1 auto;
}
.recent-posts__view-all{
  /*white-space: nowrap;*/
  flex: 0 0 auto;
  font-size: 16px;
  line-height: 23px;
  color: #00a8cc;
}
  @media (max-width: 768px) { /*3*/
    .recent-posts__view-all {
      display: none;
    }
  }
.recent-posts__items{
  margin: 0 -10px;
}
   @media (min-width: 768px) { /*3*/
    .recent-posts__items {
      display: flex;
    }
  }
.recent-posts__column{
  flex: 0 1 50%;
  padding: 0 10px;
  margin: 0 0 17px 0;
}
.recent-posts__item{}
/*=============================================================*/
.recent-post {
  height: 100%;
  background: #fff;
  box-shadow: 0 4px 10px rgba(187, 255, 250, 0.25);
  border-radius: 4px;
  padding: 20px;
}
  @media (max-width: 768px) { /*3*/
    .recent-post {
      padding: 15px;
    }
  }
  .recent-post *:last-child{
    margin-bottom: 0;
  }
.recent-post__title {
  display: inline-block;
  color: inherit;
  font-size: 26px;
  font-weight: 700;
  line-break: calc(38 / 26 * 100%);
  transition: color 0.3s ease 0s;
  margin: 0 0 17px 0;
}
  @media (min-width: 992px) {/*2   min???*/ 
    .recent-post__title:hover {
      color: #ff6464;
    }
  }
  @media (max-width: 768px) {/*3*/
    .recent-post__title {
      font-size: 22px;
      margin: 0 0 10px 0;
    }
  }
.recent-post__info {
  margin: 0 0 15px 0;
  font-size: 18px;
  line-height: calc(26 / 18 * 100%);
}
  .recent-post__info span {
    margin: 0 10px;
    position: inherit;
  }
  @media (max-width: 768px) {/*3*/
    .recent-post__info {
      font-size: 16px;
      margin: 0 0 10px 0;
    }
  }
.recent-post__text {
  margin: 0 0 15px 0;
}
/*=============================================================*/
.featured-works {
  padding: 30px 0 80px 0; /*  ??? 80 */
}
  @media (max-width: 768px) {
    .featured-works {
      padding: 30px 0 30px 0;
    }
    .featured-works__items {
      display: flex;
      overflow: auto;
    }
    .featured-works__items .works__item {
      flex: 0 0 90%;
       margin: 0 15px 0 0;
    }
  }
  .featured-works__title{
    margin: 0 0 20px 0;
  } 
/*=============================================================*/
.works {}

.works__item{
  padding: 0 0 30px 0;
  margin: 0 0 30px 0;
  border-bottom: 1px solid #e0e0e0;
}
  .works__item:last-child{
    margin-bottom: 0;
  }
  @media (min-width: 768px) { /*3*/
    .works__item {
      display: flex;
      align-items: flex-start;
    }
  }

.works__image{
  flex: 0 0 246px;
  display: block;
  border-radius: 6px;
  min-height: 180px;
  overflow: hidden;
}
  @media (max-width: 768px) { /*3*/
    .works__image {
      margin: 0 0 17px 0;
      padding: 0 0 60% 0;
    }
  }

.works__body{
  flex: 1 1 auto;
}
  @media (min-width: 768px) { /*3*/
    .works__body {
      padding: 0 0 0 18px;
    }
  }

.works__title{
  color: inherit;
  display: inline-block;
  font-size: 30px;
  font-weight: 700;
  line-height: calc(44 / 30 * 100%);
  margin: 0 0 15px 0;
}
    @media (max-width: 768px) { /*3*/
    .works__title {
      font-size: 24px;
      }
    }

.works__info{
  display: flex;
  align-items: center;
  margin: 0 0 15px 0;
}
.works__year{
  background-color: #142850;
  border-radius: 16px;
  height: 25px;
  padding: 0 10px;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  color: #fff;
  font-weight: 900;
  font-size: 18px;
}
.works__category{
  color: #8695a4;
  font-size: 20px;
  margin: 0 0 0 25px;
}
.works__text {}
/*=============================================================*/
.footer{
  text-align: center;
  padding: 50px;
}
.footer__content {}
.footer__social {
  margin: 0 0 25px 0;
}
.footer__copy{}
/*=============================================================*/
.social{
  display: flex;
  justify-content: center;
  align-items: center;
}
.social__item{
  transition: color 0.3s ease 0s;
  margin: 0 17px;
  font-size: 30px;
  color: inherit;
}
  @media (min-width: 992px) { /*2*/
    .social__item:hover {
      color: #ff6464;
    }
  }